.about {
    padding-top: 25px;
    padding-bottom: 25px;
}

h1 {
    font-size: $text-title-md;
}

// Small and Extra Small Screens
@media (max-width: 992px) {
    .about {
        text-align: center;
        p {
            font-size: $text-sm;
        }
    }
}
