.ad-card {
    border: solid 1px $off-grey;
    margin-bottom: 15px;
    div {
        font-family: 'MuseoSans-700';
        text-transform: uppercase;
        color: $light-grey;
        text-align: center;
    }
    img {
        padding: 5px 0 25px 0;
        margin: 0 auto;
    }
}