.btn-transparent {
    color: $brand-blue;
    background-color: transparent;
    border: solid 1px $brand-blue;
    font-weight: 800;

    &:hover {
        background: $brand-blue;
        color: $white;
    }
}

.btn-primary {
    color: $white;
    background-color: $brand-blue;
    border-color: $brand-blue;
    font-weight: 500;

    &:hover {
        background: $brand-blue-hover;
        border-color: $brand-blue-hover;
    }
}

.btn-white {
    color: $brand-blue;
    background-color: $white;
    border-color: $white;
    font-weight: 500;
}
