.btn-transparent {
    color: $brand-blue;
    background-color: transparent;
    border: solid 2px $brand-blue;
    font-weight: 500;
}

.btn-primary {
    color: $white;
    background-color: $brand-blue;
    border-color: $brand-blue;
    font-weight: 500;
}

.btn-white {
    color: $brand-blue;
    background-color: $white;
    border-color: $white;
    font-weight: 500;
}
