.call-to-action {
    min-height: 328px;
    color: $white;
}

.call-to-action-padded {
    position: relative;
    min-height: 588px;
    margin-top: -250px;
    padding-top: 250px;
    color: $white;
}

@media (min-width: 768px){
    .call-to-action .article {
        font-size: $text-lg;
    }
    .call-to-action-padded .article {
        font-size: $text-lg;
    }
}

@media (max-width: 768px){
    .call-to-action h1 {
        font-family: 'MuseoSlab-500';
        font-size: $text-xl;
    }
    .call-to-action .article p {
        font-size: $text-md;
    }
    .call-to-action-padded h1 {
        font-family: 'MuseoSlab-500';
        font-size: $text-xl;
    }
    .call-to-action-padded .article p {
        font-size: $text-md;
    }
}