.panel {
    border-bottom-width: 3px;
    border-bottom-color: $brand-green;
    border-radius: 1px;
}

.panel-category {
    font-size: 12px;
    text-transform: uppercase;
    color: $light-grey;
}

.panel-title {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.panel-detail {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.info-badge{
    position: absolute;
    left: 20px;
    top: 10px;
    background: $brand-green;
    text-align: center;
    border-radius: 1px;
    color: $white;
    padding: 5px 10px;
    font-size: 14px;
}