.panel {
    border-bottom-width: 3px;
    border-bottom-color: $brand-green;
    border-radius: 1px;
}

.panel-category {
    font-family: 'MuseoSans-700';
    font-size: $text-xxs;
    font-weight: $bold;
    text-transform: uppercase;
    color: $light-grey;
}

.panel-title {
    font-family: 'MuseoSlab-500';
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: $text-lg;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.panel-detail {
    font-family: 'MuseoSans-300';
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.info-badge{
    font-family: 'MuseoSlab-500';
    position: absolute;
    left: 25px;
    top: 10px;
    background: $brand-green;
    text-align: center;
    border-radius: 1px;
    color: $white;
    padding: 5px 10px;
    font-size: $text-xs;
}