// Large Screen
@media (min-width: 1200px) {
    .footer-logo {
        text-align: left;
    }
}

// Medium Screen
@media (min-width: 992px) {
    .footer-logo {
        text-align: left;
    }
}

// Small Screen
@media (min-width: 768px) {
    .footer-logo {
        text-align: left;
    }
}

// Extra Small Screen
@media (max-width: 768px) {
    .footer-logo {
        text-align: center;
        padding-bottom: 25px;
    }
}
