<div class="row text-center">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="row padding-md-bottom">
            <div class="col-sm-12">
                <h1>Expand your knowledge and enhance your career</h1>
            </div>
        </div>
        <div class="row padding-md-bottom">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="article">MPI Academy is your one-stop shop for meeting and event industry skill training, CE credits, and certificate courses. Featuring live and on-demand instructor-led courses and webinars, it's the perfect resource for the job you have - or the job you want.</p>
            </div>
        </div>
        <div class="row padding-md-bottom">
            <div class="col-sm-12">
                <p class="article">Browse our selection of classes:</p>
            </div>
        </div>
    </div>
</div>
<div class="row text-center padding-lg-bottom">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
        <div class="row padding-md-bottom">
            <div class="col-sm-3 col-xs-6 padding-md-bottom">
                <div class="class-card mid" data-image-src="https://unsplash.it/500/400?image=528">
                    <div class="class-contents">
                        <h2><a href="">Career Development</a></h2>
                        <p><a href="">13 Classes</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 padding-md-bottom">
                <div class="class-card mid" data-image-src="https://unsplash.it/500/400?image=529">
                    <div class="class-contents">
                        <h2><a href="">Corporate Social Responsibility</a></h2>
                        <p><a href="">24 Classes</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 padding-md-bottom">
                <div class="class-card mid" data-image-src="https://unsplash.it/500/400?image=771">
                    <div class="class-contents">
                        <h2><a href="">Entrepreneurship</a></h2>
                        <p><a href="">13 Classes</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 padding-md-bottom">
                <div class="class-card mid" data-image-src="https://unsplash.it/500/400?image=531">
                    <div class="class-contents">
                        <h2><a href="">Experimental Education Design</a></h2>
                        <p><a href="">22 Classes</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-6 padding-md-bottom">
                <div class="class-card mid" data-image-src="https://unsplash.it/500/400?image=649">
                    <div class="class-contents">
                        <h2><a href="">Healthcare and Pharma</a></h2>
                        <p><a href="">14 Classes</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 padding-md-bottom">
                <div class="class-card mid" data-image-src="https://unsplash.it/500/400?image=563">
                    <div class="class-contents">
                        <h2><a href="">Leadership and Change Management</a></h2>
                        <p><a href="">24 Classes</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 padding-md-bottom">
                <div class="class-card mid" data-image-src="https://unsplash.it/500/400?image=554">
                    <div class="class-contents">
                        <h2><a href="">Legal and Compliance</a></h2>
                        <p><a href="">13 Classes</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 padding-lg-bottom">
                <div class="class-card mid" data-image-src="https://unsplash.it/500/400?image=532">
                    <div class="class-contents">
                        <h2><a href="">Meeting and Event Design</a></h2>
                        <p><a href="">22 Classes</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a href="" class="btn btn-lg btn-primary">Go to MPI Academy</a>
            </div>
        </div>
    </div>
</div>