<!--<div class="container-fluid">
    <div class="row margin-md-bottom">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-lg-3">



                    <div class="row news-sidebar">
                        <div class="col-xs-5">
                            <span>
                                <img src="http://www.placecage.com/120/100">
                            </span>
                        </div>
                        <div class="col-xs-7">
                            <div class="sidebar-category">
                                News
                            </div>
                            <div class="sidebar-title">
                                News
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>-->



<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-lg-6">
                    <h1>H1: This is a headline</h1>
                    <h2>H2: This is a headline</h2>
                    <h3>H3: This is a headline</h3>
                    <h4>H4: This is a headline</h4>
                    <h5>H5: This is a headline</h5>
                    <h6>H6: This is a headline</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p class="dashboard">
                        Dashboard:
                        Have you ever heard the expression, "Do not count your chickens before they hatch?" Maybe an older, wiser individual would tell you this to keep you from getting ahead of yourself. Like buying a new car before you actually got that new job. Well, when setting and obtaining your goals, you need to "Count your chickens before they hatch" in your mind. What I mean by this is you have to start seeing yourself completeing or obtaining your goal. What you profess, you possess!
                    </p>
                </div>
                <div class="col-lg-6">
                    <p class="article">
                        Article:
                        Have you ever heard the expression, "Do not count your chickens before they hatch?" Maybe an older, wiser individual would tell you this to keep you from getting ahead of yourself. Like buying a new car before you actually got that new job. Well, when setting and obtaining your goals, you need to "Count your chickens before they hatch" in your mind. What I mean by this is you have to start seeing yourself completeing or obtaining your goal. What you profess, you possess!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p class="quote">
                        Quote:
                        "Ask yourself: Am I really the best person to..."
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <button class="btn btn-transparent btn-lg">Btn lg tsp</button>
                    <button class="btn btn-transparent">Btn reg tsp</button>
                    <button class="btn btn-transparent btn-sm">Btn sm tsp</button>
                    <button class="btn btn-transparent btn-xs">Btn xs tsp</button>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-primary btn-lg">Btn lg pri</button>
                    <button class="btn btn-primary">Btn reg pri</button>
                    <button class="btn btn-primary btn-sm">Btn sm pri</button>
                    <button class="btn btn-primary btn-xs">Btn xs pri</button>
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-white btn-lg">Btn lg wh</button>
                    <button class="btn btn-white">Btn reg wh</button>
                    <button class="btn btn-white btn-sm">Btn sm wh</button>
                    <button class="btn btn-white btn-xs">Btn xs wh</button>
                </div>
                <div class="col-lg-2">
                    <div class="tag">Checkbox</div>
                        <input type="checkbox" id="checkbox-1-1" class="regular-checkbox" /><label for="checkbox-1-1"></label>
                    </div>
                    <div>
                        <div class="tag">Radio</div>
                        <div class="button-holder">
                            <input type="radio" id="radio-1-1" name="radio-1-set" class="regular-radio"/><label for="radio-1-1"></label>
                            <input type="radio" id="radio-1-2" name="radio-1-set" class="regular-radio"/><label for="radio-1-2"></label>
                        </div>
                    </div>
            </div>
        </div>
    </div>






    <!--<div class="row margin-md-bottom">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-lg-3">



                    <div class="row news-sidebar">
                        <div class="col-xs-5">
                            <span>
                                <img src="http://www.placecage.com/120/100">
                            </span>
                        </div>
                        <div class="col-xs-7">
                            <div class="sidebar-category">
                                News
                            </div>
                            <div class="sidebar-title">
                                Nicholas Cage to star in new movie that might actually be good
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>-->


    <!--<div class="row margin-md-bottom">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="class-card mid" data-image-src="http://placekitten.com/g/500/400">
                        <h2>Kittens</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="class-card mid" data-image-src="http://www.placecage.com/500/400">
                        <h2>Nick</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="class-card mid" data-image-src="http://placekitten.com/g/500/400">
                        <h2>Kittens</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="class-card mid" data-image-src="http://www.placecage.com/500/400">
                        <h2>Nick</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default">
                        <span class="info-badge">BADGE</span>
                        <img class="img-responsive" src="http://placekitten.com/g/500/400">
                        <div class="panel-body panel-category">
                            Category
                        </div>
                        <div class="panel-body panel-title">
                            Title
                        </div>
                        <div class="panel-body">
                            Detail/Content text
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default">
                        <span class="info-badge">BADGE</span>
                        <img class="img-responsive" src="http://placekitten.com/g/500/400">
                        <div class="panel-body panel-category">
                            Category
                        </div>
                        <div class="panel-body panel-title">
                            Title
                        </div>
                        <div class="panel-body">
                            Detail/Content text
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default">
                        <span class="info-badge">BADGE</span>
                        <img class="img-responsive" src="http://placekitten.com/g/500/400">
                        <div class="panel-body panel-category">
                            Category
                        </div>
                        <div class="panel-body panel-title">
                            Title
                        </div>
                        <div class="panel-body">
                            Detail/Content text
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="panel panel-default">
                        <span class="info-badge">BADGE</span>
                        <img class="img-responsive" src="http://www.placecage.com/500/400">
                        <div class="panel-body panel-category">
                            Category
                        </div>
                        <div class="panel-body panel-title">
                            Title
                        </div>
                        <div class="panel-body">
                            Detail/Content text
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="panel panel-default">
                        <span class="info-badge">BADGE</span>
                        <img class="img-responsive" src="http://www.placecage.com/g/500/400">
                        <div class="panel-body panel-category">
                            Category
                        </div>
                        <div class="panel-body panel-title">
                            Title
                        </div>
                        <div class="panel-body">
                            Detail/Content text
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="panel panel-default">
                        <span class="info-badge">BADGE</span>
                        <img class="img-responsive" src="http://www.placecage.com/gif/500/400">
                        <div class="panel-body panel-category">
                            Category
                        </div>
                        <div class="panel-body panel-title">
                            Title
                        </div>
                        <div class="panel-body">
                            Detail/Content text
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="panel panel-default">
                        <span class="info-badge">BADGE</span>
                        <img class="img-responsive" src="http://www.placecage.com/c/500/400">
                        <div class="panel-body panel-category">
                            Category
                        </div>
                        <div class="panel-body panel-title">
                            Title
                        </div>
                        <div class="panel-body">
                            Detail/Content text
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>