<!--<div class="container-fluid">
    <div class="row margin-md-bottom">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-lg-3">



                    <div class="row news-sidebar">
                        <div class="col-xs-5">
                            <span>
                                <img src="http://www.placecage.com/120/100">
                            </span>
                        </div>
                        <div class="col-xs-7">
                            <div class="sidebar-category">
                                News
                            </div>
                            <div class="sidebar-title">
                                News
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</div>-->



<div class="container-fluid">





    <div class="row margin-md-bottom">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-lg-3">



                    <div class="row news-sidebar">
                        <div class="col-xs-5">
                            <span>
                                <img src="http://www.placecage.com/120/100">
                            </span>
                        </div>
                        <div class="col-xs-7">
                            <div class="sidebar-category">
                                News
                            </div>
                            <div class="sidebar-title">
                                Nicholas Cage to star in new movie that might actually be good
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>






    <div class="row margin-md-bottom">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="class-card mid" data-image-src="http://placekitten.com/g/500/400">
                        <h2>Kittens</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="class-card mid" data-image-src="http://www.placecage.com/500/400">
                        <h2>Nick</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="class-card mid" data-image-src="http://placekitten.com/g/500/400">
                        <h2>Kittens</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="class-card mid" data-image-src="http://www.placecage.com/500/400">
                        <h2>Nick</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default">
                        <span class="info-badge">BADGE</span>
                        <img class="img-responsive" src="http://placekitten.com/g/500/400">
                        <div class="panel-body panel-category">
                            Category
                        </div>
                        <div class="panel-body panel-title">
                            Title
                        </div>
                        <div class="panel-body">
                            Detail/Content text
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default">
                        <span class="info-badge">BADGE</span>
                        <img class="img-responsive" src="http://placekitten.com/g/500/400">
                        <div class="panel-body panel-category">
                            Category
                        </div>
                        <div class="panel-body panel-title">
                            Title
                        </div>
                        <div class="panel-body">
                            Detail/Content text
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default">
                        <span class="info-badge">BADGE</span>
                        <img class="img-responsive" src="http://placekitten.com/g/500/400">
                        <div class="panel-body panel-category">
                            Category
                        </div>
                        <div class="panel-body panel-title">
                            Title
                        </div>
                        <div class="panel-body">
                            Detail/Content text
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="panel panel-default">
                        <span class="info-badge">BADGE</span>
                        <img class="img-responsive" src="http://www.placecage.com/500/400">
                        <div class="panel-body panel-category">
                            Category
                        </div>
                        <div class="panel-body panel-title">
                            Title
                        </div>
                        <div class="panel-body">
                            Detail/Content text
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="panel panel-default">
                        <span class="info-badge">BADGE</span>
                        <img class="img-responsive" src="http://www.placecage.com/g/500/400">
                        <div class="panel-body panel-category">
                            Category
                        </div>
                        <div class="panel-body panel-title">
                            Title
                        </div>
                        <div class="panel-body">
                            Detail/Content text
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="panel panel-default">
                        <span class="info-badge">BADGE</span>
                        <img class="img-responsive" src="http://www.placecage.com/gif/500/400">
                        <div class="panel-body panel-category">
                            Category
                        </div>
                        <div class="panel-body panel-title">
                            Title
                        </div>
                        <div class="panel-body">
                            Detail/Content text
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="panel panel-default">
                        <span class="info-badge">BADGE</span>
                        <img class="img-responsive" src="http://www.placecage.com/c/500/400">
                        <div class="panel-body panel-category">
                            Category
                        </div>
                        <div class="panel-body panel-title">
                            Title
                        </div>
                        <div class="panel-body">
                            Detail/Content text
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>