<!--<div class="row">
    <div class="col-lg-10 col-lg-offset-1 padding-xl-left padding-xl-right">
        <div class="row">
            <div class="col-md-8">
                <div id="content"></div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>-->
<!--<div class="margin-md-top" id="login"></div>-->
<!--<div id="renewal"></div>-->
<div id="hero"></div>
<div class="padding-md-top bg-off-white" id="membership"></div>
<!--<div class="padding-md-top bg-off-white" id="about"></div>-->
<!--<div class="padding-md-top bg-off-white" id="partners"></div>-->
<!--<div class="padding-md-top bg-off-white" id="latest"></div>-->
<!--<div class="margin-md-top" id="academy"></div>-->
<!--<div class="margin-md-top" id="testimonial"></div>-->
<!--<div class="margin-md-top" id="call-to-action"></div>-->
<!--<div class="margin-md-top" id="dashboard"></div>-->
<!--<div class="margin-md-top" id="event-history"></div>-->

<script>
    $('#content').load('../components/general-content.html');
    $('#login').load('../components/login.html');
    $('#renewal').load('../components/renewal.html');
    $('#hero').load('../components/hero.html');
    $('#membership').load('../components/membership.html');
    $('#about').load('../components/about.html');
    $('#partners').load('../components/partners.html');
    $('#latest').load('../components/latest.html');
    $('#academy').load('../components/academy.html');
    $('#testimonial').load('../components/testimonial.html');
    $('#call-to-action').load('../components/call-to-action.html');
    $('#dashboard').load('../components/dashboard.html');
    $('#event-history').load('../components/event-history.html');
</script>