<div class="row">
    <div class="col-sm-10 col-sm-offset-1 hidden-xs padding-lg-left padding-lg-right">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5">
                <div class="profile-card">
                    <div class="row">
                        <div class="member-header-image" data-image-src="https://unsplash.it/300/300?image=704"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 member-info">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img src="https://unsplash.it/100/100?image=1005" class="profile-picture">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="sans-700 text-md">Ryan Chen</p>
                                </div>
                            </div>
                            <div class="row padding-md-bottom">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <span class="sans-300 text-sm">Senior Event Planner at Credera</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 light-grey sans-300 text-xs">
                                    <span><span class="glyphicon glyphicon-map-marker"></span><span> Dallas, TX</span></span>
                                    <br>
                                    <span><span class="glyphicon glyphicon-certificate"></span><span> 3 certificates</span></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr>
                                    <span class="sans-300 text-sm">Complete your profile</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 light-grey sans-300 text-xxs">
                                    <span>55% complete</span>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-10 col-xs-offset-1">
                                    <span class="sans-300 text-sm">MPI Dallas/Fort Worth Chapter</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-lg-top margin-sm-bottom">
                    <div class="col-xs-12">
                        <span class="dark-grey sans-500">MPI Live Events</span>
                        <a href="" class="brand-blue sans-300 pull-right">View all</a>
                    </div>
                </div>
                <div class="event-card">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row padding-ml-top padding-md-left padding-md-right">
                                <div class="col-xs-3">
                                    <div class="date-box">
                                        <div class="month">Mar</div>
                                        <div class="day">5</div>
                                    </div>
                                </div>
                                <div class="col-xs-7 date-details">
                                    <div class="title">EMEC 2017</div>
                                    <div class="detail">
                                        <span>Mar 5 - 7, 2017</span>
                                        <br>
                                        <span>Granada, Spain</span>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <span class="light-grey glyphicon glyphicon-chevron-right"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row padding-md-left padding-md-right">
                                <div class="col-xs-3">
                                    <div class="date-box">
                                        <div class="month">Mar</div>
                                        <div class="day">14</div>
                                    </div>
                                </div>
                                <div class="col-xs-7 date-details">
                                    <div class="title">SXSW 2017</div>
                                    <div class="detail">
                                        <span>Mar 14 - 18, 2017</span>
                                        <br>
                                        <span>Austin, TX</span>
                                        <br>
                                        <a href="" class="btn btn-xs btn-transparent btn-rsvp">I'm going</a>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <span class="light-grey glyphicon glyphicon-chevron-right"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row padding-md-left padding-md-right">
                                <div class="col-xs-3">
                                    <div class="date-box">
                                        <div class="month">Mar</div>
                                        <div class="day">15</div>
                                    </div>
                                </div>
                                <div class="col-xs-7 date-details">
                                    <div class="title">PYM LIVE</div>
                                    <div class="detail">
                                        <span>1 PM - 5:30 PM</span>
                                        <br>
                                        <span>Atlanta, GA</span>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <span class="light-grey glyphicon glyphicon-chevron-right"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row padding-ml-bottom padding-md-left padding-md-right">
                                <div class="col-xs-3">
                                    <div class="date-box">
                                        <div class="month">Jun</div>
                                        <div class="day">23</div>
                                    </div>
                                </div>
                                <div class="col-xs-7 date-details">
                                    <div class="title">World Education Congress (WEC 2017)</div>
                                    <div class="detail">
                                        <span>1 PM - 5:30 PM</span>
                                        <br>
                                        <span>Atlanta, GA</span>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <span class="light-grey glyphicon glyphicon-chevron-right"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-lg-top margin-sm-bottom">
                    <div class="col-xs-12">
                        <span class="dark-grey sans-500">MPI Dallas/Fort Worth Community</span>
                    </div>
                </div>
                <div class="community-card">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row padding-sm-top padding-ml-left padding-sm-right">
                                <div class="col-xs-2 community-image-container">
                                    <img class="community-image" src="https://unsplash.it/35/35?image=1072">
                                </div>
                                <div class="col-xs-2 community-image-container">
                                    <img class="community-image" src="https://unsplash.it/35/35?image=1074">
                                </div>
                                <div class="col-xs-2 community-image-container">
                                    <img class="community-image" src="https://unsplash.it/35/35?image=1080">
                                </div>
                                <div class="col-xs-2 community-image-container">
                                    <img class="community-image" src="https://unsplash.it/35/35?image=1083">
                                </div>
                                <div class="col-xs-2 community-image-container">
                                    <img class="community-image" src="https://unsplash.it/35/35?image=1051">
                                </div>
                                <div class="col-xs-2 community-image-container">
                                    <img class="community-image" src="https://unsplash.it/35/35?image=1050">
                                </div>
                            </div>
                            <div class="row padding-sm-top padding-xs-bottom padding-ml-left padding-sm-right">
                                <div class="col-xs-2 community-image-container">
                                    <img class="community-image" src="https://unsplash.it/35/35?image=1033">
                                </div>
                                <div class="col-xs-2 community-image-container">
                                    <img class="community-image" src="https://unsplash.it/35/35?image=1025">
                                </div>
                                <div class="col-xs-2 community-image-container">
                                    <img class="community-image" src="https://unsplash.it/35/35?image=1017">
                                </div>
                                <div class="col-xs-2 community-image-container">
                                    <img class="community-image" src="https://unsplash.it/35/35?image=1020">
                                </div>
                                <div class="col-xs-2 community-image-container">
                                    <img class="community-image" src="https://unsplash.it/35/35?image=1012">
                                </div>
                                <div class="col-xs-2 community-image-container">
                                    <img class="community-image" src="https://unsplash.it/35/35?image=999">
                                </div>
                            </div>
                            <div class="row padding-sm-left padding-xs-bottom">
                                <div class="col-xs-12">
                                    <a href="" class="brand-blue sans-300">View all</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-lg-top margin-sm-bottom">
                    <div class="col-xs-12">
                        <span class="dark-grey sans-500">MPI Marketplace</span>
                        <a href="" class="brand-blue sans-300 pull-right">View all</a>
                    </div>
                </div>
                <div class="marketplace-card">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="category-badge">Facility</span>
                            <img class="img-responsive" src="https://unsplash.it/270/130?image=953">
                            
                        </div>
                        <div class="col-xs-12 text-center margin-sm-top">
                            <span class="sans-500">The Star (Dallas Cowboys)</span>
                        </div>
                    </div>
                </div>
                <div class="marketplace-card margin-ml-top">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="category-badge">Hotel</span>
                            <img class="img-responsive" src="https://unsplash.it/270/130?image=945">
                            
                        </div>
                        <div class="col-xs-12 text-center margin-sm-top">
                            <span class="sans-500">Sheraton Arlington Hotel</span>
                        </div>
                    </div>
                </div>
                <div class="marketplace-card margin-ml-top">
                    <div class="row">
                        <div class="col-xs-12">
                            <span class="category-badge">Production</span>
                            <img class="img-responsive" src="https://unsplash.it/270/130?image=802">
                            
                        </div>
                        <div class="col-xs-12 text-center margin-sm-top">
                            <span class="sans-500">Planet Productions</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-7">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="newsfeed-card newsfeed-card-sm">
                            <div class="row padding-xs-top">
                                <div class="col-md-8 col-xs-12">
                                    <span class="tag-alert">From</span>
                                    <span class="tag-category"> MPI Dallas/Fort Worth Chapter <a href="" class="text-xxs dark-grey"><span class="pull-right padding-sm-right padding-xs-top visible-sm icon icon-share2"></span></a></span>
                                </div>
                                <div class="col-md-4 hidden-sm">
                                    <a href="" class="tag-share padding-xxs-top pull-right"><span class="icon icon-share2"></span> Share</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 hidden-sm padding-none-right">
                                    <img class="newsfeed-image img-responsive" src="https://unsplash.it/200/130?image=1060">
                                </div>
                                <div class="col-md-8 hidden-sm padding-none-left padding-xs-top">
                                    <h4>GMID Dallas 2017</h4>
                                    <p>
                                        Thurs, April 6 from 8 AM - 5 PM 
                                        <br>
                                        Hilton Dallas Lincoln Convention Centre
                                    </p>
                                    <p>
                                        <span><a href="" class="btn btn-primary">Register</a></span>
                                        <span><a href="" class="btn btn-transparent">Find out more</a></span>
                                    </p>
                                </div>
                                <div class="col-sm-12 visible-sm margin-md-left padding-xs-top">
                                    <h4>GMID Dallas 2017</h4>
                                    <p>
                                        Thurs, April 6 from 8 AM - 5 PM 
                                        <br>
                                        Hilton Dallas Lincoln Convention Centre
                                    </p>
                                    <p class="margin-none-bottom">
                                        <span><a href="" class="btn btn-sm btn-primary">Register</a></span>
                                        <span><a href="" class="btn btn-sm btn-transparent">Find out more</a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="row visible-sm">
                                <div class="col-xs-12">
                                    <img class="newsfeed-image center-contents img-responsive" src="https://unsplash.it/200/130?image=1060">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="newsfeed-card newsfeed-card-sm">
                            <div class="row padding-xs-top">
                                <div class="col-md-8 col-xs-12">
                                    <span class="tag-alert">New class in</span>
                                    <span class="tag-category"> Career Development <a href="" class="text-xxs dark-grey"><span class="pull-right padding-sm-right padding-xs-top visible-sm icon icon-share2"></span></a></span>
                                </div>
                                <div class="col-md-4 hidden-sm">
                                    <a href="" class="tag-share padding-xxs-top pull-right"><span class="icon icon-share2"></span> Share</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 hidden-sm padding-none-right">
                                    <img class="newsfeed-image img-responsive" src="https://unsplash.it/200/130?image=692">
                                </div>
                                <div class="col-md-8 hidden-sm padding-none-left padding-xs-top">
                                    <h4>Ask the Convention Industry Council: Answers to Your Burning CMP Questions</h4>
                                    <p>
                                        <img class="img-circle" src="https://unsplash.it/100/100?image=832">
                                        <span class="sans-700 padding-xs-left"> Gayle Rosnick</span>
                                    </p>
                                    <p>Are you thinking of getting your CMP? MPI Global hosts the Convention Industry Council for a Q&A session so you can get answers to your unique quesions.</p>
                                    <p>
                                        <span><a href="" class="btn btn-primary">Go to course</a></span>
                                    </p>
                                </div>
                                <div class="col-sm-12 visible-sm margin-md-left padding-xs-top">
                                    <h4>Ask the Convention Industry Council: Answers to Your Burning CMP Questions</h4>
                                    <p>
                                        <img class="img-circle" src="https://unsplash.it/100/100?image=832">
                                        <span class="sans-700 padding-xs-left"> Gayle Rosnick</span>
                                    </p>
                                    <p class="margin-md-right">Are you thinking of getting your CMP? MPI Global hosts the Convention Industry Council for a Q&A session so you can get answers to your unique quesions.</p>
                                    <p class="margin-none-bottom">
                                        <span><a href="" class="btn btn-sm btn-primary">Go to course</a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="row visible-sm">
                                <div class="col-xs-12">
                                    <img class="newsfeed-image center-contents img-responsive" src="https://unsplash.it/200/130?image=692">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="newsfeed-card newsfeed-card-lg">
                            <div class="row padding-xs-top">
                                <div class="col-md-8 col-xs-12">
                                    <span class="tag-alert">Because you follow</span>
                                    <span class="tag-category"> Advertising <a href="" class="text-xxs dark-grey"><span class="pull-right padding-sm-right padding-xs-top visible-sm icon icon-share2"></span></a></span>
                                </div>
                                <div class="col-md-4 hidden-sm">
                                    <a href="" class="tag-share padding-xxs-top pull-right"><span class="icon icon-share2"></span> Share</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img class="newsfeed-image img-responsive" src="https://unsplash.it/870/400?image=835">
                                </div>
                            </div>
                            <div class="row margin-sm-right margin-sm-left">
                                <div class="col-sm-12">
                                    <h2>Study 800 Numbers Still Popular With Advertisers</h2>
                                    <p>
                                        <img class="img-circle" src="https://unsplash.it/100/100?image=883">
                                        <span class="sans-700 padding-xs-left"> Rick Gipson</span>
                                    </p>
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy 
                                        is difficult, as it must appeal to, entice, and convince customers to take action. There is no magic formula to write 
                                        perfect ad copy; it is based on a number of factors including ad placement, demographics, even the consumer's mood when 
                                        they see your ad. So how is any writer supposed to pen a stunning piece of advertising copy - copy that sizzles and sells?</p>
                                    <p>
                                        <span><a href="" class="brand-blue sans-700">Read more</a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="ad-card">
                            <div class="padding-ml-top">Advertisment</div>
                            <img class="img-responsive" src="https://unsplash.it/300/250?image=1002">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="ad-card">
                            <div class="padding-ml-top">Advertisment</div>
                            <img class="img-responsive" src="https://unsplash.it/300/250?image=979">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="newsfeed-card newsfeed-card-lg">
                            <div class="row padding-xs-top">
                                <div class="col-md-8 col-xs-12">
                                    <span class="tag-alert"></span>
                                    <span class="tag-category">Sponsored Content <a href="" class="text-xxs dark-grey"><span class="pull-right padding-sm-right padding-xs-top visible-sm icon icon-share2"></span></a></span>
                                </div>
                                <div class="col-md-4 hidden-sm">
                                    <a href="" class="tag-share padding-xxs-top pull-right"><span class="icon icon-share2"></span> Share</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img class="newsfeed-image img-responsive" src="https://unsplash.it/870/400?image=882">
                                </div>
                            </div>

                            <div class="row margin-sm-right margin-sm-left">
                                <div class="col-sm-12">
                                    <h2>Doubledutch Live 2016</h2>
                                    <p>
                                        <span class="sans-700 padding-xs-left">Sunday, February 23rd from 12 PM - 1 PM</span>
                                    </p>
                                    <p>When someone mentions barbeque, images come to mind, like cooking at the backyard grill, 
                                        a social gathering, cooking outdoors, and cooking meat slowly over wood and smoke that 
                                        adds flavor to the food.
                                    </p>
                                    <p>
                                        <span><a href="" class="brand-blue sans-700">Read more</a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="newsfeed-card newsfeed-card-lg">
                            <div class="row padding-xs-top">
                                <div class="col-md-8 col-xs-12">
                                    <span class="tag-alert"></span>
                                    <span class="tag-category">Sponsored Content <a href="" class="text-xxs dark-grey"><span class="pull-right padding-sm-right padding-xs-top visible-sm icon icon-share2"></span></a></span>
                                </div>
                                <div class="col-md-4 hidden-sm">
                                    <a href="" class="tag-share padding-xxs-top pull-right"><span class="icon icon-share2"></span> Share</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img class="newsfeed-image img-responsive" src="https://unsplash.it/870/400?image=864">
                                </div>
                            </div>

                            <div class="row margin-sm-right margin-sm-left">
                                <div class="col-sm-12">
                                    <h2>Motivation - The Defining Moment of Self Improvement</h2>
                                    <p>
                                        <img class="img-circle" src="https://unsplash.it/100/100?image=718">
                                        <span class="sans-700 padding-xs-left"> Andy Dwyer</span>
                                    </p>
                                    <p>A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy 
                                        is difficult, as it must appeal to, entice, and convince customers to take action. There is no magic formula to write 
                                        perfect ad copy; it is based on a number of factors including ad placement, demographics, even the consumer's mood when 
                                        they see your ad. So how is any writer supposed to pen a stunning piece of advertising copy - copy that sizzles and sells?</p>
                                    <p>
                                    <p>
                                        <span><a href="" class="brand-blue sans-700">Read more</a></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Mobile View -->
    <div class="col-xs-12 visible-xs">
        <div class="row">
            <div class="col-xs-12 profile-card margin-md-bottom">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1 margin-sm-top margin-sm-bottom member-info">
                        <img src="https://unsplash.it/100/100?image=1005" class="profile-picture">
                    </div>
                    <div class="col-xs-5 margin-lg-top">
                        <p class="sans-700 text-md">Good morning, Ryan Chen!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="newsfeed-card newsfeed-card-sm">
                    <div class="row padding-xs-top">
                        <div class="col-xs-12">
                            <span class="tag-alert">From</span>
                            <span class="tag-category"> MPI Dallas/Fort Worth Chapter <a href="" class="text-xxs dark-grey"><span class="pull-right padding-sm-right padding-xs-top icon icon-share2"></span></a></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row margin-md-right">
                        <div class="col-xs-12 margin-ml-left margin-ml-right">
                            <h2>GMID Dallas 2017</h2>
                            <p>
                                Thurs, April 6 from 8 AM - 5 PM 
                                <br>
                                Hilton Dallas Lincoln Convention Centre
                            </p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-xs-12">
                            <span><a href="" class="btn btn-lg btn-transparent">Find out more</a></span>
                            <span><a href="" class="btn btn-lg btn-primary">Register Now</a></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img class="newsfeed-image center-contents img-responsive" src="https://unsplash.it/340/200?image=1060">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="newsfeed-card newsfeed-card-sm">
                    <div class="row padding-xs-top">
                        <div class="col-xs-12">
                            <span class="tag-alert">New class in</span>
                            <span class="tag-category"> Career Development <a href="" class="text-xxs dark-grey"><span class="pull-right padding-sm-right padding-xs-top icon icon-share2"></span></a></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row margin-md-right">
                        <div class="col-xs-12 margin-ml-left margin-ml-right">
                            <h2>Ask the Convention Industry Council: Answers to Your Burning CMP Questions</h2>
                            <p>
                                <img class="img-circle" src="https://unsplash.it/100/100?image=832">
                                <span class="sans-700 padding-xs-left"> Gayle Rosnick</span>
                            </p>
                            <p>Are you thinking of getting your CMP? MPI Global hosts the Convention Industry Council for a Q&A session so you can get answers to your unique quesions.</p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-xs-12">
                            <span><a href="" class="btn btn-lg btn-primary">Go to course</a></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img class="newsfeed-image center-contents img-responsive" src="https://unsplash.it/340/200?image=692">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="newsfeed-card newsfeed-card-lg">
                    <div class="row padding-xs-top">
                        <div class="col-xs-12">
                            <span class="tag-alert">Because you follow</span>
                            <span class="tag-category"> Advertising <a href="" class="text-xxs dark-grey"><span class="pull-right padding-sm-right padding-xs-top icon icon-share2"></span></a></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img class="newsfeed-image center-contents img-responsive" src="https://unsplash.it/340/200?image=835">
                        </div>
                    </div>
                    <div class="row margin-md-right">
                        <div class="col-xs-12 margin-ml-left margin-ml-right">
                            <h2>Study 800 Numbers Still Popular With Advertisers</h2>
                            <p>
                                <img class="img-circle" src="https://unsplash.it/100/100?image=883">
                                <span class="sans-700 padding-xs-left"> Rick Gipson</span>
                            </p>
                            <p class="margin-ml-right">A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy 
                                is difficult, as it must appeal to, entice, and convince customers to take action. There is no magic formula to write 
                                perfect ad copy; it is based on a number of factors including ad placement, demographics, even the consumer's mood when 
                                they see your ad. So how is any writer supposed to pen a stunning piece of advertising copy - copy that sizzles and sells?</p>
                            <p>
                        </div>
                    </div>
                    <div class="row margin-sm-left margin-sm-bottom">
                        <div class="col-xs-12">
                            <span><a href="" class="brand-blue text-md sans-700">Read more</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="newsfeed-card newsfeed-card-lg">
                    <div class="row padding-xs-top">
                        <div class="col-xs-12">
                            <span class="tag-alert"></span>
                            <span class="tag-category">Sponsored Content <a href="" class="text-xxs dark-grey"><span class="pull-right padding-sm-right padding-xs-top icon icon-share2"></span></a></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img class="newsfeed-image center-contents img-responsive" src="https://unsplash.it/340/200?image=882">
                        </div>
                    </div>
                    <div class="row margin-md-right">
                        <div class="col-xs-12 margin-ml-left margin-ml-right">
                            <h2>Doubledutch Live 2016</h2>
                            <p>
                                <span class="sans-700 padding-xs-left">Sunday, February 23rd from 12 PM - 1 PM</span>
                            </p>
                            <p class="margin-ml-right">When someone mentions barbeque, images come to mind, like cooking at the backyard grill, 
                                a social gathering, cooking outdoors, and cooking meat slowly over wood and smoke that 
                                adds flavor to the food.
                            </p>
                        </div>
                    </div>
                    <div class="row margin-sm-left margin-sm-bottom">
                        <div class="col-xs-12">
                            <span><a href="" class="brand-blue text-md sans-700">Read more</a></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="newsfeed-card newsfeed-card-lg">
                    <div class="row padding-xs-top">
                        <div class="col-xs-12">
                            <span class="tag-alert"></span>
                            <span class="tag-category">Sponsored Content <a href="" class="text-xxs dark-grey"><span class="pull-right padding-sm-right padding-xs-top icon icon-share2"></span></a></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <img class="newsfeed-image center-contents img-responsive" src="https://unsplash.it/340/200?image=864">
                        </div>
                    </div>
                    <div class="row margin-md-right">
                        <div class="col-xs-12 margin-ml-left margin-ml-right">
                            <h2>Motivation - The Defining Moment of Self Improvement</h2>
                            <p>
                                <img class="img-circle" src="https://unsplash.it/100/100?image=718">
                                <span class="sans-700 padding-xs-left"> Andy Dwyer</span>
                            </p>
                            <p class="margin-ml-right">A successful marketing plan relies heavily on the pulling-power of advertising copy. Writing result-oriented ad copy 
                                is difficult, as it must appeal to, entice, and convince customers to take action. There is no magic formula to write 
                                perfect ad copy; it is based on a number of factors including ad placement, demographics, even the consumer's mood when 
                                they see your ad. So how is any writer supposed to pen a stunning piece of advertising copy - copy that sizzles and sells?</p>
                            <p>
                        </div>
                    </div>
                    <div class="row margin-sm-left margin-sm-bottom">
                        <div class="col-xs-12">
                            <span><a href="" class="brand-blue text-md sans-700">Read more</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



