<div class="row">
    <div class="col-sm-10 col-sm-offset-1 hidden-xs padding-lg-left padding-lg-right">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 margin-lg-bottom">
                <div class="profile-card">
                    <div class="row">
                        <div class="member-header-image" data-image-src="https://unsplash.it/300/300?image=704"></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 member-info">
                            <div class="row">
                                <div class="col-xs-12">
                                    <img src="https://unsplash.it/100/100?image=1005" class="profile-picture">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="sans-700 text-md padding-none-bottom">Ryan Chen</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin-lg-top margin-sm-bottom">
                    <div class="col-xs-12">
                        <span class="dark-grey sans-500">MPI Live Events</span>
                        <a href="" class="brand-blue sans-300 pull-right">View all</a>
                    </div>
                </div>
                <div class="event-card">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row padding-ml-top padding-md-left padding-md-right">
                                <div class="col-xs-3">
                                    <div class="date-box">
                                        <div class="month">Mar</div>
                                        <div class="day">5</div>
                                    </div>
                                </div>
                                <div class="col-xs-7 date-details">
                                    <div class="title">EMEC 2017</div>
                                    <div class="detail">
                                        <span>Mar 5 - 7, 2017</span>
                                        <br>
                                        <span>Granada, Spain</span>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <span class="light-grey glyphicon glyphicon-chevron-right"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row padding-md-left padding-md-right">
                                <div class="col-xs-3">
                                    <div class="date-box">
                                        <div class="month">Mar</div>
                                        <div class="day">14</div>
                                    </div>
                                </div>
                                <div class="col-xs-7 date-details">
                                    <div class="title">SXSW 2017</div>
                                    <div class="detail">
                                        <span>Mar 14 - 18, 2017</span>
                                        <br>
                                        <span>Austin, TX</span>
                                        <br>
                                        <a href="" class="btn btn-xs btn-transparent btn-rsvp">I'm going</a>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <span class="light-grey glyphicon glyphicon-chevron-right"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row padding-md-left padding-md-right">
                                <div class="col-xs-3">
                                    <div class="date-box">
                                        <div class="month">Mar</div>
                                        <div class="day">15</div>
                                    </div>
                                </div>
                                <div class="col-xs-7 date-details">
                                    <div class="title">PYM LIVE</div>
                                    <div class="detail">
                                        <span>1 PM - 5:30 PM</span>
                                        <br>
                                        <span>Atlanta, GA</span>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <span class="light-grey glyphicon glyphicon-chevron-right"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <hr>
                                </div>
                            </div>
                            <div class="row padding-ml-bottom padding-md-left padding-md-right">
                                <div class="col-xs-3">
                                    <div class="date-box">
                                        <div class="month">Jun</div>
                                        <div class="day">23</div>
                                    </div>
                                </div>
                                <div class="col-xs-7 date-details">
                                    <div class="title">World Education Congress (WEC 2017)</div>
                                    <div class="detail">
                                        <span>1 PM - 5:30 PM</span>
                                        <br>
                                        <span>Atlanta, GA</span>
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <span class="light-grey glyphicon glyphicon-chevron-right"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-7 off-grey-border">
                <div class="row">
                    <div class="col-sm-12 white bg-blue-gradient text-center">
                        <h1>My Events</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Attended</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Event Name</th>
                                    <th>Event Date</th>
                                    <th>Location</th>
                                    <th>Global or Local?</th>
                                    <th>Event Type</th>
                                    <th>Relevant Links</th>
                                    <th>Receipt</th>
                                </tr>
                                <tr>
                                    <td>WEC 2016</td>
                                    <td>06/22/2016</td>
                                    <td>Las Vegas, NV</td>
                                    <td>Global</td>
                                    <td>Education</td>
                                    <td><a href="">mpiweb.org/wec-2017</a></td>
                                    <td><a href="">View receipt</a></td>
                                </tr>
                                <tr>
                                    <td>SXSW 2016</td>
                                    <td>03/18/2016</td>
                                    <td>Austin, TX</td>
                                    <td>Global</td>
                                    <td>Networking</td>
                                    <td><a href="">mpiweb.org/sxsw-2016</a></td>
                                    <td><a href="">View receipt</a></td>
                                </tr>
                                <tr>
                                    <td>Education Forum</td>
                                    <td>10/02/2016</td>
                                    <td>Fort Worth, TX</td>
                                    <td>Local - DFW</td>
                                    <td>Education</td>
                                    <td><a href="">mpiweb.org/dfw/edu-forum</a></td>
                                    <td>Not available</td>
                                </tr>
                                <tr>
                                    <td>WEC 2017</td>
                                    <td>06/23/2017</td>
                                    <td>Las Vegas, NV</td>
                                    <td>Global</td>
                                    <td>A type</td>
                                    <td><a href="">mpiweb.org/wec</a></td>
                                    <td><a href="">View receipt</a></td>
                                </tr>
                            </table>
                        </div>  
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Upcoming</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <th>Event Name</th>
                                    <th>Event Date</th>
                                    <th>Location</th>
                                    <th>Global or Local?</th>
                                    <th>Event Type</th>
                                    <th>Relevant Links</th>
                                    <th>Receipt</th>
                                </tr>
                                <!--<tr>
                                    <td>WEC 2016</td>
                                    <td>06/22/2016</td>
                                    <td>Las Vegas, NV</td>
                                    <td>Global</td>
                                    <td>Education</td>
                                    <td><a href="">mpiweb.org/wec-2017</a></td>
                                    <td><a href="">View receipt</a></td>
                                </tr>
                                <tr>
                                    <td>SXSW 2016</td>
                                    <td>03/18/2016</td>
                                    <td>Austin, TX</td>
                                    <td>Global</td>
                                    <td>Networking</td>
                                    <td><a href="">mpiweb.org/sxsw-2016</a></td>
                                    <td><a href="">View receipt</a></td>
                                </tr>
                                <tr>
                                    <td>Education Forum</td>
                                    <td>10/02/2016</td>
                                    <td>Fort Worth, TX</td>
                                    <td>Local - DFW</td>
                                    <td>Education</td>
                                    <td><a href="">mpiweb.org/dfw/edu-forum</a></td>
                                    <td>Not available</td>
                                </tr>
                                <tr>
                                    <td>WEC 2017</td>
                                    <td>06/23/2017</td>
                                    <td>Las Vegas, NV</td>
                                    <td>Global</td>
                                    <td>A type</td>
                                    <td><a href="">mpiweb.org/wec</a></td>
                                    <td><a href="">View receipt</a></td>
                                </tr>-->
                                <tr class="text-center slab-300italic">
                                    <td colspan="7">
                                        <div class="padding-ml-top padding-sm-bottom lightest-grey">You don't have any events scheduled right now</div>
                                        <div><a href="" class="btn btn-transparent btn-sm margin-ml-bottom">Browse all events</a></div>
                                    </td>
                                </tr>
                            </table>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
