<footer>
    <div class=row>
        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <div class="row">
            <div class="col-xs-12 footer-logo">
              <img src="images/MPI-logo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 margin-xs-top">
              <span class="text-xxs grey hidden-xs">© 2017 Meeting Professionals International, All Rights Reserved.</span>
            </div>
        </div>
        </div>
        <div class="col-sm-6 margin-md-left hidden-xs">
            <div class="row">
              <div class="col-sm-4">
                  <p><span class="padding-sm-bottom text-xs bold grey">Learn</span></p>
                  <p><a class="text-xs grey" href="">Articles</a></p>
                  <p><a class="text-xs grey" href="">MPI Academy</a></p>
                  <p><a class="text-xs grey" href="">Certifications</a></p>
                  <p><a class="text-xs grey" href="">The Meeting Professional</a></p>
                  <p><a class="text-xs grey" href="">Research & Tools</a></p>
              </div>
              <div class="col-sm-3">
                  <p><span class="padding-sm-bottom text-xs bold grey">Connect</span></p>
                  <p><a class="text-xs grey" href="">Membership</a></p>
                  <p><a class="text-xs grey" href="">Chapters</a></p>
                  <p><a class="text-xs grey" href="">Events</a></p>
                  <p><a class="text-xs grey" href="">My MPI</a></p>
              </div>
              <div class="col-sm-3">
                  <p><span class="padding-sm-bottom text-xs bold grey">About Us</span></p>
                  <p><a class="text-xs grey" href="">About MPI</a></p>
                  <p><a class="text-xs grey" href="">MPI Foundation</a></p>
              </div>
              <div class="col-sm-2">
                  <p><span class="padding-sm-bottom text-xs bold grey">Careers</span></p>
              </div>
            </div>
        </div>
        <div class="col-xs-12 margin-md-left visible-xs">
            <div class="row text-center">
              <div class="col-xs-6">
                  <p><span class="padding-sm-bottom text-xs semi-bold grey">Learn</span></p>
                  <p><a class="text-xs grey" href="">Articles</a></p>
                  <p><a class="text-xs grey" href="">MPI Academy</a></p>
                  <p><a class="text-xs grey" href="">Certifications</a></p>
                  <p><a class="text-xs grey" href="">The Meeting Professional</a></p>
                  <p><a class="text-xs grey" href="">Research & Tools</a></p>
              </div>
              <div class="col-xs-6">
                  <p><span class="padding-sm-bottom text-xs semi-bold grey">Connect</span></p>
                  <p><a class="text-xs grey" href="">Membership</a></p>
                  <p><a class="text-xs grey" href="">Chapters</a></p>
                  <p><a class="text-xs grey" href="">Events</a></p>
                  <p><a class="text-xs grey" href="">My MPI</a></p>
              </div>
            </div>
            <div class="row text-center margin-md-top">
              <div class="col-xs-6">
                  <p><span class="padding-sm-bottom text-xs semi-bold grey">About Us</span></p>
                  <p><a class="text-xs grey" href="">About MPI</a></p>
                  <p><a class="text-xs grey" href="">MPI Foundation</a></p>
              </div>
              <div class="col-xs-6">
                  <p><span class="padding-sm-bottom text-xs semi-bold grey">Careers</span></p>
              </div>
            </div>
        </div>
    </div>
</footer>