<div class="row">
    <div class="col-lg-12">
        <span class="category">Classes</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 padding-md-bottom">
        <h1>MPI Launches Women in Leadership Course</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 padding-md-bottom">
        <span class="byline">By Bob Dylan | February 26, 2017</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 padding-md-top padding-lg-bottom">
        <img class="img-responsive" src="http://placekitten.com/g/770/420">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>The defintion of an "engaged customer" varies from product to product.</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <br>
        <p class="article">For a to-do app, an engaged user should be logging in every day to add and complete items, whereas for an invoicing app, and engaged user might only log in once per month. There is no consistent quantifiable definition of engagement across different products.</p>
        <br>
        <p class="article">Unlike page views, visitors, returning visitors, and conversions, there is no analytics app that can instantly tell you what you need to know. But ignore engagement at your peril. Just ask Snapchat. Their $20 billion valuation was largely built around almost a whole generation of people signing into their product multiple times every day.</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Why is user engagement important?</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 padding-md-top padding-lg-bottom">
        <img class="img-responsive" src="http://placekitten.com/g/770/420">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="article">Most customers who sign up will use a product only once. This is true for every product with a free trial. This isn't surprising; it's the fallacy of funnels in action. When you strip every barrier away from signing up, what you get is lots of signups. Unfortunately, lots of signups doesn't translate to lots of customers. Customers are the result of a series of events. Here is a simple overview:</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Right place, right time feedback</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <br>
        <p class="article">If you're not looking at the conversations your customer support team is having with customers, you're basically throwing information away.</p>
        <br>
        <p class="article">You might say, "It's fine. I have a really good research team. They talk to my customers. I know exactly what's going on." That could be true. But imagine you owned a restaurant, and a few days after somebody ate there you sent them an email asking what they thought of the new soup they ate. That feedback is going to be very different to feedback from somebody who was eating at your restaurant and tapped a waiter on the shoulder to tell them the soup is a little salty. This is an extreme example, but it highlights the difference between "survey feedback" and "unsolicited feedback".</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 padding-md-top padding-lg-bottom">
        <img class="img-responsive" src="http://placekitten.com/g/770/420">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>What made you want to be in tech?</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <br>
        <p class="article">I really like solving problems with others, and I've always been interested in math and physics. I didn't know I would be an engineer until I was 18 years old, when it was time for me to look into university studies.</p>
        <br>
        <p class="quote indented-quote">"Ask yourself: Am I really the best person to solve this problem?"</p>
        <br>
        <p class="article">To be honest, I had almost no idea what engineers actually did, and my main focus at that time was to become a veterinarian. My mother, however, strongly suggested that I study engineering, and I decided to go for it. That opened the door to the tech industry for me, and I'm very thankful for that!</p>
        <br>
    </div>
</div>
