<!--<div class="row">
    <div class="col-xs-12">
        <div class="row hero" data-image-src="https://unsplash.it/1440/450?image=192" data-color-src="rgba(0, 173, 238, 0.5)">
            <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 padding-xl-top">
                <h1>Empowering the meeting professionals community worldwide.</h2>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 padding-md-top">
                <p>We are a community of meeting professionals commited to providing valuable tools and relationships to help you become successful in your career. Join us!</p>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 padding-md-top">
                <span class="text-center"><a href="" class="btn btn-lg btn-white">See the benefits</a></span>-->
                <!-- Optional Second Call to Action -->
                <!--<span class="text-center"><a href="" class="btn btn-lg btn-white">Learn more</a></span>-->
            <!--</div>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-xs-12">
        <div class="row hero" data-image-src="https://unsplash.it/1440/450?image=192" data-color-src="rgba(0, 173, 238, 0.5)">
            <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 padding-xl-top">
                <h1>Become a member of MPI's Global Community</h2>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 padding-md-top">
                <p>By becoming an MPI member, you are part of a dynamic community that supports you and your goals. MPI brings you access to a broad network of skilled professionals, premier education in the industry to advance your career, and business opportunities that create success.</p>
            </div>
        </div>
    </div>
</div>