<div class="row text-center">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="row padding-md-bottom">
            <div class="col-sm-12">
                <h1>Latest from MPI</h1>
            </div>
        </div>
    </div>
</div>
<div class="row padding-lg-bottom">
    <div class="col-xs-10 col-xs-offset-1">
        <div class="row padding-md-bottom">
            <div class="col-sm-8 news-card news-card-lg">
                <div class="panel panel-default">
                    <img class="img-responsive center-contents" src="https://unsplash.it/786/420?image=48">
                    <div class="panel-body panel-category">
                        Classes
                    </div>
                    <div class="panel-body panel-title">
                        Profiles Of The Powerful Advertising Exec Steve Grasse
                    </div>
                    <div class="panel-body panel-detail">
                        By Bob Dylan | February 26, 2017
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="row"><hr class="margin-none-top margin-xs-bottom"></div>
                <div class="row news-sidebar">
                    <div class="col-xs-5">
                        <span>
                            <img class="img-responsive" src="https://unsplash.it/120/100?image=742">
                        </span>
                    </div>
                    <div class="col-xs-7">
                        <div class="sidebar-category">
                            Classes
                        </div>
                        <div class="sidebar-title">
                            MPI Launches Women in Leadership Course
                        </div>
                    </div>
                </div>
                <div class="row"><hr class="margin-xs-top margin-xs-bottom"></div>
                <div class="row news-sidebar">
                    <div class="col-xs-5">
                        <span>
                            <img class="img-responsive" src="https://unsplash.it/120/100?image=816">
                        </span>
                    </div>
                    <div class="col-xs-7">
                        <div class="sidebar-category">
                            News
                        </div>
                        <div class="sidebar-title">
                            Finally A Top Secret Way You Can Get Google Adwords to do something not specified in the comps
                        </div>
                    </div>
                </div>
                <div class="row"><hr class="margin-xs-top"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ad-card">
                            <div class="padding-ml-top">Advertisment</div>
                            <img class="img-responsive" src="https://unsplash.it/300/250?image=694">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-md-bottom">
            <div class="col-sm-4 col-xs-12 news-card news-card-md">
                <div class="panel panel-default">
                    <img class="img-responsive center-contents" src="https://unsplash.it/500/400?image=180">
                    <div class="panel-body panel-category">
                        Events
                    </div>
                    <div class="panel-body panel-title">
                        SXSW 2017
                    </div>
                    <div class="panel-body panel-detail">
                        March 10 - 19, 2017 | Austin, TX
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 news-card news-card-md">
                <div class="panel panel-default">
                    <img class="img-responsive center-contents" src="https://unsplash.it/500/400?image=442">
                    <div class="panel-body panel-category">
                        Classes
                    </div>
                    <div class="panel-body panel-title">
                        MPI Launches Women in Leadership Course
                    </div>
                    <div class="panel-body panel-detail">
                        By Bob Dylan | February 26, 2017
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 news-card news-card-md">
                <div class="panel panel-default">
                    <img class="img-responsive center-contents" src="https://unsplash.it/500/400?image=122">
                    <div class="panel-body panel-category">
                        Events
                    </div>
                    <div class="panel-body panel-title">
                        Pharma Forum 2017
                    </div>
                    <div class="panel-body panel-detail">
                        March 12 - 15, 2017 | National Harbor, MD
                    </div>
                </div>
            </div>
        </div>
        <div class="row padding-md-bottom">
            <div class="col-sm-3 col-xs-6 news-card news-card-sm">
                <div class="panel panel-default">
                    <span class="info-badge bg-brand-purple">DFW</span>
                    <img class="img-responsive center-contents" src="https://unsplash.it/500/400?image=836">
                    <div class="panel-body panel-category">
                        Chapter News
                    </div>
                    <div class="panel-body panel-title">
                        MPINCC Glide - Community Involvement
                    </div>
                    <div class="panel-body panel-detail hidden-xs">
                        By Bob Dylan | February 26, 2017
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 news-card news-card-sm">
                <div class="panel panel-default">
                    <img class="img-responsive center-contents" src="https://unsplash.it/500/400?image=960">
                    <div class="panel-body panel-category">
                        News
                    </div>
                    <div class="panel-body panel-title">
                        US Executive Order on Immigration and Refugees Issued
                    </div>
                    <div class="panel-body panel-detail hidden-xs">
                        By Bob Dylan | February 26, 2017
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 news-card news-card-sm">
                <div class="panel panel-default">
                    <img class="img-responsive center-contents" src="https://unsplash.it/500/400?image=845">
                    <div class="panel-body panel-category">
                        Sponsored Content
                    </div>
                    <div class="panel-body panel-title">
                        Myrtle Beach: Loved by Meeting Planners and Attendees Alike
                    </div>
                    <div class="panel-body panel-detail hidden-xs">
                        By Bob Dylan | February 26, 2017
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-xs-6 news-card news-card-sm">
                <div class="panel panel-default">
                    <span class="info-badge bg-brand-red">NYC</span>
                    <img class="img-responsive center-contents" src="https://unsplash.it/500/400?image=828">
                    <div class="panel-body panel-category">
                        Chapter News
                    </div>
                    <div class="panel-body panel-title">
                        Happy New Year from MPINY!
                    </div>
                    <div class="panel-body panel-detail hidden-xs">
                        By Bob Dylan | February 26, 2017
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 text-center">
                <a href="" class="btn btn-lg btn-transparent">See more</a>
            </div>
        </div>
    </div>
</div>