<header class="masthead">
    <div class="container">
        <div class="row margin-md-top">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h1>AD GOES HERE</h1>
            </div>
        </div>
    </div>
</header>
<div class="nav-wrapper">
    <nav id="nav" class="navbar navbar-default" data-spy="affix" data-offset-top="130">
        <div class="container">
            <div class="navbar-header">
                <button id="hamburger" type="button" class="navbar-toggle collapsed margin-sm-left" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <button id="search-btn" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search" aria-expanded="false"
                    aria-controls="navbar">
        <span class="sr-only">Toggle search</span>
        <span class="glyphicon glyphicon-search light-grey"></span>
        </button>
                <a class="navbar-brand padding-sm-top" href="#"><img src="images/MPI-logo-small.png"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav margin-none-top margin-none-bottom">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Learn <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Articles</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">MPI Academy</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Certifications</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">The Meeting Professional</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Research & Tools</a></li>
                        </ul>
                    </li>
                    <hr class="visible-xs" />
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connect <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Membership</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Chapters</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Events</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">My MPI</a></li>
                        </ul>
                    </li>
                    <hr class="visible-xs" />
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">About MPI</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">MPI Foundation</a></li>
                        </ul>
                    </li>
                    <hr class="visible-xs" />
                    <li><a href="#">Careers</a></li>
                    <hr class="visible-xs" />
                    <li class="visible-xs"><a href="#">Log In</a></li>
                    <hr class="visible-xs" />
                    <li class="visible-xs collapse-button"><a href="#">Sign Up</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li class="padding-sm-top">
                        <div>
                            <span class="glyphicon glyphicon-search"></span>
                            <input placeholder="Search"></input>
                        </div>
                    </li>
                    <li><a href="#">Log In</a></li>
                    <li class="padding-xs-top">
                        <button type="button" class="btn btn-transparent">
                Sign Up
            </button>
                    </li>
                </ul>
            </div>
            <div id="search" class="navbar-collapse collapse">
                <ul class="nav navbar-nav margin-none-top margin-none-bottom">
                    <li class="visible-xs"><input placeholder="Search MPI..."></input>
                    </li>
                    <li class="visible-xs collapse-button text-center"><a href="#">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
