<div class="row renewal">
    <div class="col-xs-12 padding-md-top padding-md-bottom">
        <div class="col-md-8 col-md-offset-1 col-sm-12">
            <span>Your membership expires on Wednesday, September 20, 2017</span>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="renew-link">
                <a href="">Renew Now <span class="text-xxs glyphicon glyphicon-chevron-right"></span></span></a>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>